<div style="background-color: #3C4858">

  <p class="product-title" style="color: aliceblue;margin-left: 45px">Modify</p>
<form  (submit)="sendPost()"  >
<table>
  <tr>
  <input #title (keyup)="processKeyupTitle(title.value)" style="border: #000000; margin-bottom: 15px;margin-left: 15px;margin-top:20px;border-radius: 4px" class="modal-title"  formControlName="title" >
  </tr>
  <tr>
  <textarea #omg (keyup)="processKeyupDesc(omg.value)" style="border: #0a001f;margin-left: 15px;border-radius: 4px" class="os-textarea-cover" formControlName="desc"
    matInput

    cdkAutosizeMaxRows="5">
    </textarea>
  </tr>
</table>


  <br>
  <br>
  <button mat-button type="submit" class="btn-success" style="height: 40px;width: 120px;margin-left: 15px ; text-align: center">Submit</button>
</form>
</div>
